<div class="container">
    <div class="row justify-content-center my-5">
        <div class="titulo-centro col-6">
            <h1>Contacto</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Numero de teléfono</h3>
            <p>+57 1234567890</p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Correo Electrónico</h3>
            <p>correo@ejemplo.com</p>
        </div>
        <div class="col-6"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Redes Sociales</h3>
            <h4 class="my-4">Facebook</h4>
            <p>pagina de Facebook</p>
            <h4 class="my-4">Twitter</h4>
            <p>pagina de Twitter</p>
        </div>
    </div>
</div>