<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active">Oferta de servicios por parte de
      Laura Nury Lozano Delgado</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/']" routerLinkActive="router-link-active">Principal<span
              class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/servicios']" routerLinkActive="router-link-active">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/informacion']" routerLinkActive="router-link-active">Información</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/contacto']" routerLinkActive="router-link-active">Contacto</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Uso de cookies</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.close('Lo que sea')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Para el correcto funcionamiento de esta página se necesita que aceptes el uso de cookies. Pudes revizar <a [routerLink]="['/informacion']" routerLinkActive="router-link-active">aquí</a> si estas interesada/o en nuestra política de intimidad.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Acepto</button>
  </div>
</ng-template>

<button (click)="open(content)">modal</button>
<!-- BOTON PARA MOSTRAR EL MODAL DE LAS COOKIES
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
-->

<!-- MAIN PAGE -->
<router-outlet></router-outlet>
<!-- MAIN PAGE -->

<footer class="container mt-5">
  <p>&copy; Compañia 2017-2020</p>
</footer>