<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="titulo-centro col-6">
            <h1>Servicios</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Organización de Archivo:</h3>
            <p>
                Aplicando los conocimientos en Gestión Documental
                reglamentarios se busca adecuar los expedientes objeto de la organización teniendo
                en cuenta la necesidad del servicio, clasificando y ordenando siguiendo diferentes
                criterios como preparar índices y etiquetas para identificar las carpetas donde serán
                archivados los documentos y a su vez lograr una ubicación apropiada, rápida y eficaz
                para su posterior consulta.
            </p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Edición y Revisión de Textos:</h3>
            <p>
                Transcripción de todo tipo de documentos resaltando
                la organización del mismo aplicando una adecuada gramática. Al referirnos a
                Transcribir hace referencia a copiar en otra parte como por ejemplo una conversación
                o grabación, unas notas manuscritas o realizar una síntesis de un texto, copiando
                fielmente todos sus sonidos, incluyendo errores, muletillas, expresiones dubitativas (
                ehhh, emm, umm), palabras sin acabar, transcripciones literales en las que cualquier
                detalle por mínimo que parezca pueda ser relevante.
            </p>
            <p>
                Así mismo transcribir todo aquello que se considere irrelevante dejando la
                información intacta pero presentada de un modo más profesional.

            </p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Trabajos en Office:</h3>
            <p>
                Realizar trabajos en Word, Excell, con parámetros documentales
                reglamentarios, dirigidos a partes interesadas en cuanto a elaboración de actas de
                reuniones, trabajos de universidad, presentación de proyectos, elaboración de índices
                y otros documentos que sean objeto de una labor cotidiana y que por falta de tiempo
                sea necesario recurrir a otro esquema que brinde apoyo y asesoría para poder
                cumplir con las expectativas.
            </p>
        </div>
        <div class="col-3"></div>
    </div>
</div>