<div class="container">
    <div class="row my-5 justify-content-center">
        <div class="titulo-centro col-6">
            <h1>Información</h1>
        </div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Aviso de legalidad:</h3>
            <p>En este aviso se determina quién es la persona con la cual se está contratando y cuáles son los términos
                y condiciones de uso del e-commerce..</p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">Las condiciones generales de venta:</h3>
            <p>El principal objetivo de esto es explicar en detalle cómo es el proceso de ventas y que los consumidores
                lo conozcan antes de realizar alguna compra.</p>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row my-3">
        <div class="col">
            <h3 class="my-3">La política de cookies:</h3>
            <p>Si su sitio web instala cookies en el navegador de los visitantes, es su deber explicarles siempre para
                qué se
                instalan y qué hacen estos datos. Esto no es obligatorio en Colombia pero puede</p>
        </div>
        <div class="col-3"></div>
    </div>

</div>